<footer class="footer">
  <div class="container">
    <div class="small text-center">
      <p>
        Welcome to
        <a href="https://remidax.com" target="_blank">Remidax Exchange</a>
        a Hybrid
        <a href="https://remidax.com/register" target="_blank">Crypto Exchange</a>.
      </p>

      <p>
        Start Trading Now
        <a href="http://Remidax.com/register">Open Account</a>, 
        <a href="http://account.remidax.com/trading/btclrt" target="_blank">Explore Markets</a>.
      </p>

      <p>
        <ul class="list-inline">
          <li><span>Powered By Local Remit</span></li>
          <li class="list-inline-item"><a href="https://remidax.com" target="_blank">Home</a></li>
          <li class="list-inline-item"><a href="https://Remidax.com/listing" target="_blank">Listing</a></li>
          <li class="list-inline-item"><a href="https://Remidax.com/about" target="_blank">About Us</a></li>
          <li class="list-inline-item"><a href="https://Remidax.com/privacy" target="_blank">Privacy</a></li>
          <li class="list-inline-item"><a href="https://Remidax.com/terms" target="_blank">Terms</a></li>
        </ul>
      </p>
    </div>
    <div class="clear-fix"></div>
  </div>
</footer>
